.first {
    /*font-size: 35px;*/
    /*background-color: green;*/
    /*color: aqua;*/
    /*background-image: url('https://resources.jetbrains.com/help/img/idea/2021.2/ws_tailwind-completion-after-apply_dark.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: right;*/
    color: aqua;
    background: green url('https://resources.jetbrains.com/help/img/idea/2021.2/ws_tailwind-completion-after-apply_dark.png') no-repeat center center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.second {
    height: 2000px;
}

