@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,400&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* Обнуление стилей */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* конец обнуления */

.bold_ubuntu {
    font-weight: 500;
}

.light_ubuntu {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
}

.wrapper {
    height: inherit;
    width: 1280px;
    margin: 0 auto;
}

header {
    color: black;
    background-color: #fff;
    height: 205px;
}

#upper_header {
    height: 155px;
    width: 100%;
    color: #000;
}

#upper_header_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#upper_header_logo {
    width: fit-content;
    height: fit-content;
    margin-right: 45px;
}

#upper_header_title {
    flex-grow: 4;
    font-size: 30px;
    text-transform: uppercase;
}

#upper_header_back_to_official_text {
    flex-grow: 1;
    text-align: right;
    font-size: 30px;
    text-transform: uppercase;
}

#navbar {
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #ff8c00;
}

#navbar_wrapper {
    line-height: 50px;
    font-size: 1.2em;
    display: flex;
}

.navbar_content_item {
    padding: 0 15px;
}

.navbar_content_item:hover, .navbar_content_item:active {
    background-color: #af3806;
}

main {
    color: black;
    flex-grow: 1;
    background-color: green;
}

#slider {
    height: 200px;
    background-color: grey;
}

#news_container {
    background-color: red;
    width: inherit;
    height: 230px;
    display: flex;

}

#news_container_title {
    margin-top: 20px;
    font-size: 32px;
    margin-left: 15px;
    font-weight: 500;
}

.news_block {
    align-content: center;
    height: 230px;
    width: 320px;
}

.news_img_block {
    width: inherit;
    height: 180px;
    background-color: chartreuse;
}

footer {
    height: 320px;
    color: black;
    flex-shrink: 0;
    background-color: #808080;
}